@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: #f6f6f6;
    --primary: #060606;
    --secondary: #7a7a7a;
    --border: #2e2e2e;
    --highlight: #22222266;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #060606;
      --primary: #f6f6f6;
      --secondary: #7a7a7a;
      --border: #2e2e2e;
      --highlight: #222222;
    }
  }

  body {
    @apply antialiased bg-background text-primary leading-none font-mono **:border-border bg-noise;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
  --color-highlight: var(--highlight);

  --font-sans: var(--font-pp-neue-montreal);
  --font-mono: var(--font-pp-neue-montreal-mono);
}

@utility bg-noise {
  @apply before:fixed before:top-0 before:left-0 before:size-full before:bg-[url(/noise.webp)] before:bg-repeat before:opacity-30 before:-z-50;
}
